networks:
  laravel:
    driver: bridge
services:
  site:
    image: nginx:stable-alpine
    ports:
      - "8079:80"
    volumes:
      - ./src:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
      - db
    networks:
      - laravel
  
  php:
    build:
      context: .
      dockerfile: php.dockerfile
    volumes:
      - ./src:/var/www/html
    # Removed ports - not needed since nginx proxies to PHP
    networks:
      - laravel
      
  composer:
    image: composer:latest
    volumes:
      - ./src:/var/www/html
    working_dir: /var/www/html
    depends_on:
      - php
    networks:
      - laravel
      
  artisan:
    build:
      context: .
      dockerfile: php.dockerfile
    volumes:
      - ./src:/var/www/html
    depends_on:
      - db
    working_dir: /var/www/html
    entrypoint: ['php', '/var/www/html/artisan']
    networks:
      - laravel
      
  db:
    image: postgres:16
    ports:
      - "5430:5432"
    environment:
      POSTGRES_USER: user1
      POSTGRES_PASSWORD: changeme
      POSTGRES_DB: userdb
    networks: 
      - laravel    
      
  admin:
    image: adminer
    restart: always
    depends_on: 
      - db
    ports:
      - 8311:8080
    networks:
      - laravel