    .jqvmap-label{
	position: absolute;
	display: none;
	background: #fff;
	font-family: "RobotoCondensed-Bold";
	font-size: 18px;
	color: #1146aa;
	/*text-transform: uppercase;*/
	padding: 10px 15px;
  	pointer-events:none;
	margin: 0 0 0 0;
}
.jqvmap-pin{
  	pointer-events: none;
}
.jqvmap-zoomin, .jqvmap-zoomout{
	position: absolute;
	right: 12px;
	padding: 10px 14px;
	font-size: 26px;
	color: #a2a2a2;
	line-height: 1;
	width: auto;
	height: auto;
	cursor: pointer;
	text-align: center;
	z-index: 1;
}
.jqvmap-zoomin{
	top: 41%;
	transform: translateY(-41%);
}
.jqvmap-zoomout{
	top: 51%;
	transform: translateY(-51%);
}
.jqvmap-region{
  cursor: pointer;
}
/*.jqvmap-ajax_response{*/
  /*width: 100%;*/
  /*height: 500px;*/
/*}*/
