@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?k3vyqr');
  src:  url('fonts/icomoon.eot?k3vyqr#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?k3vyqr') format('truetype'),
    url('fonts/icomoon.woff?k3vyqr') format('woff'),
    url('fonts/icomoon.svg?k3vyqr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-arrow:before {
  content: "\e900";
}
.i-calendar:before {
  content: "\e901";
}
.i-close:before {
  content: "\e902";
}
.i-copy:before {
  content: "\e903";
}
.i-dropdown:before {
  content: "\e904";
}
.i-email:before {
  content: "\e905";
}
.i-eye:before {
  content: "\e906";
}
.i-facebook:before {
  content: "\e907";
}
.i-instagram:before {
  content: "\e908";
}
.i-link:before {
  content: "\e909";
}
.i-linkedin:before {
  content: "\e90a";
}
.i-next:before {
  content: "\e90b";
}
.i-phone:before {
  content: "\e90c";
}
.i-play:before {
  content: "\e90d";
}
.i-prev:before {
  content: "\e90e";
}
.i-search:before {
  content: "\e90f";
}
.i-success:before {
  content: "\e910";
}
.i-telegram:before {
  content: "\e911";
}
.i-warning:before {
  content: "\e912";
}
.i-youtube:before {
  content: "\e913";
}
.i-menu:before {
  content: "\e914";
}
