@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?zdayc7');
  src: url('fonts/icomoon.eot?zdayc7#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?zdayc7') format('truetype'),
    url('fonts/icomoon.woff?zdayc7') format('woff'),
    url('fonts/icomoon.svg?zdayc7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="i-"],
[class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-arrow:before {
  content: "\e900";
}

.i-calendar:before {
  content: "\e901";
}

.i-copy:before {
  content: "\e902";
}

.i-dropdown:before {
  content: "\e903";
}

.i-email:before {
  content: "\e904";
}

.i-eye:before {
  content: "\e905";
}

.i-facebook:before {
  content: "\e906";
}

.i-instagram:before {
  content: "\e907";
}

.i-link:before {
  content: "\e908";
}

.i-linkedin:before {
  content: "\e909";
}

.i-next:before {
  content: "\e90a";
}

.i-phone:before {
  content: "\e90b";
}

.i-play:before {
  content: "\e90c";
}

.i-prev:before {
  content: "\e90d";
}

.i-search:before {
  content: "\e90e";
}

.i-telegram:before {
  content: "\e90f";
}